#loading {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}