<!DOCTYPE html>
<html lang="en">
  <head>
    <title>admin - danh sach san pham</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/css/loading.css" />
  </head>
  <body>
    <div id="loading">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="py-4 container">
      <h2 class="text-center text-primary">CAPSTONE JS - ADMIN</h2>
      <div class="my-4 d-flex justify-content-between">
        <button
          id="btn-add-product"
          data-toggle="modal"
          data-target="#modalAddProduct"
          class="btn btn-success"
        >
          <span style="font-size: 24px; line-height: 24px">+</span>
          Add product
        </button>

        <a href="./index.html">Go to User page</a>

        <!-- <div class="input-group m-0" style="width: 360px">
          <input
            type="text"
            class="form-control"
            placeholder="Nhap de tim kiem"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button
              class="input-group-append btn btn-primary"
              type="button"
              id="button-addon2"
            >
              Search
            </button>
          </div>
        </div> -->
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalAddProduct"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span id="idSP">ID: <span></span></span>
            <!-- <div class="form-group">
              <label for="">ID</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="id"
                aria-describedby="helpId"
                placeholder="id"
              />
            </div> -->
            <div class="form-group">
              <label for="">Name</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="name"
                aria-describedby="helpId"
                placeholder="name"
              />
              <span class="text-danger" id="span-name"></span>
            </div>
            <div class="form-group">
              <label for="">Price</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="price"
                aria-describedby="helpId"
                placeholder="price"
              />
              <span class="text-danger" id="span-price"></span>
            </div>

            <div class="form-group">
              <label for="">Screen</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="screen"
                aria-describedby="helpId"
                placeholder="screen"
              />
              <span class="text-danger" id="span-screen"></span>
            </div>
            <div class="form-group">
              <label for="">Back Camera</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="backCamera"
                aria-describedby="helpId"
                placeholder="backCamera"
              />
              <span class="text-danger" id="span-backCamera"></span>
            </div>
            <div class="form-group">
              <label for="">Front Camera</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="frontCamera"
                aria-describedby="helpId"
                placeholder="frontCamera"
              />
              <span class="text-danger" id="span-frontCamera"></span>
            </div>
            <div class="form-group">
              <label for="">Img</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="img"
                aria-describedby="helpId"
                placeholder="img"
              />
              <span class="text-danger" id="span-img"></span>
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="desc"
                aria-describedby="helpId"
                placeholder="Description"
              />
              <span class="text-danger" id="span-desc"></span>
            </div>

            <!-- <div class="form-group">
              <label for="">Type</label>
              <input
                type="text"
                class="form-control"
                name=""
                id="type"
                aria-describedby="helpId"
                placeholder="type"
              />
              <span class="text-danger" id="span-type"></span>
            </div> -->

            <div class="">
              <label class="" for="type">Type</label>
              <select class="custom-select" id="type">
                <option value="" selected>Select</option>
                <option value="Iphone">Iphone</option>
                <option value="Samsung">Samsung</option>
              </select>
              <span class="text-danger" id="span-type"></span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              id="btn-add"
              onclick="handleAddProduct()"
              type="button"
              class="btn btn-primary"
            >
              <!-- data-dismiss="modal" -->
              Add
            </button>

            <button
              onclick="handleUpdateProduct()"
              id="btn-update"
              onclick=""
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="../controllers/admin.js"></script>
  </body>
</html>
