<!DOCTYPE html>
<html lang="en">

<head>
  <title>jammie</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../assets/css/main.css" />
  <link rel="stylesheet" href="../../assets/css/loading.css" />
</head>

<body>
  <div id="loading">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="topbar d-flex justify-content-between align-items-center">
    <div class="topbar__img">
      <a href="#"><img src="https://i.im.ge/2022/10/15/2IZJmK.avt.png" height="100px" alt="logo"></a>
    </div>
    <div class="d-flex">
      <div class="mr-4">
        <a style="color: rgb(31, 43, 100)" class="mr-3" href="#">Trang chủ</a>
        <a style="color: rgb(31, 43, 100)" class="mr-3" href="#">Giới thiệu</a>
      </div>

      <!-- Button trigger modal -->
      <div class="topbar__cart" data-toggle="modal" data-target="#cart__modal">
        <i class="fa fa-shopping-cart"></i>
        <div class="cart-quantity" id="cart-quantity"></div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="cardList row" id="cardList"></div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="cart__modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h5 class="m-5 text-center text-primary" id="noneProduct">
          Bạn chưa có sản phẩm nào trong giỏ hàng
        </h5>
        <div class="modal-body" id="cart__modal-body">
          <table class="table">
            <thead>
              <tr>
                <td>Hình ảnh</td>
                <td>Tên sản phẩm</td>
                <td>Số lượng</td>
                <td>Giá</td>
                <td></td>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <h4 class="mr-5 text-primary">
            Tổng cộng:
            <span id="totalPrice"></span><span> </span>
            vnd
          </h4>
          <button data-toggle="modal" data-target="#purchase__modal" type="button" class="btn btn-primary"
            data-dismiss="modal" id="btn-purchase">
            Đặt hàng
          </button>
          <button id="btn-clearcart" type="button" class="btn btn-danger" onclick="handleClearCart()">
            Xóa giỏ hàng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--  purchase modal -->

  <div class="modal fade" id="purchase__modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Đặt hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="purchase__modal-body">
          <div class="purchase__modal-body-content"></div>
          <div class="text-primary d-flex justify-content-between display-5 m-3">
            <h5>Tổng số tiền phải thanh toán:</h5>
            <h5><span id="purchase__total">0</span> vnd</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
            data-target="#cart__modal">
            Hủy
          </button>
          <button data-toggle="modal" data-target="#done__modal" data-dismiss="modal" type="button"
            class="btn btn-primary" onclick="handleOrder()">
            Đặt hàng ngay
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- done modal -->
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="done__modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-primary modal-title" id="exampleModalLabel">
            Đơn hàng của bạn đã được đặt
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="done__modal-body">
          <h6 class="m-3 text-primary">
            Order-id : <span id="done__id"></span>
          </h6>
          <h6 class="m-3 text-primary">
            Đơn hàng của bạn sẽ được giao trong 3 - 5 ngày
          </h6>
          <h6 class="m-3 text-primary">
            Vui vòng thanh toán khi nhận hàng
          </h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module" src="../controllers/main.js"></script>
</body>

</html>